.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70vh;
  overflow: hidden;
   /* fallback light pink */
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(90%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 600px;
  margin-left: 80px;
  color: #3e1e1e;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.subtext {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: #633d3d;
}

.hero-btn {
  background: none;
  border: 1px solid #633d3d;
  color: #633d3d;
  padding: 10px 25px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #633d3d;
  color: #fff;
}
